<h1>Forgot password</h1>

<%= form_with local: true, url: password_reset_path do |form| %>

<div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "mojemail@domena.com" %>
</div>

<div class="mb-3">
        <%= form.submit "Password reset", class: "btn btn-primary" %>
</div>


<% end %>